@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
@import '~@progress/kendo-theme-default/dist/all.css';
@import '~react-rangeslider/lib/index.css';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
button {
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 300;
}

.cr-app {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.footer {
	font-family: 'Saira Stencil One', cursive;
	font-size: 0.8rem;
	letter-spacing: 0.2rem;
}
