.nav-item {
	.nav-link {
		display: flex;
		align-items: center;

		&.active {
			color: #fff;
			background: rgba(255, 255, 255, 0.23);
			opacity: 1;
		}
	}
}

.page-item {
	.page-link {
		color: #fc5c7d;
	}

	&.active {
		.page-link {
			background: #fc5c7d;
			border: #fc5c7d;
		}
	}
}

.table td {
	padding: .5rem .75rem;
	font-size: .8rem;
	vertical-align: middle;
}
