@import 'variables';

@import '~bootstrap/scss/bootstrap.scss';
@import '~react-datepicker/dist/react-datepicker.css';

/* base */
@import 'base';
@import 'utils';
@import 'overrides';
@import 'animations';

/* color */
@import 'theme/colors';

/* component */
@import 'components/sidebar';
@import 'components/content';
@import 'components/header';
@import 'components/search-form';
@import 'components/page';
